body{
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size:  400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.full-height {
  height: auto;
  min-height: 90vh;
}

.fifth-height {
  height: 20vh;
}

.is-link:hover {
  opacity: 0.6;
}

#display-image{
  width: 400px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

:root {
  --head-size: 160px;
  --total-cat-height: 130px;
}
.cat {
  position: fixed;
  bottom: -70px;
  left: 40px;
  background-color: rgba(0, 0, 255, 0);
  width: var(--head-size);
  height: var(--total-cat-height);
  animation-name: move-cat;
  animation-duration: 10s;
  animation-iteration-count: 10;
  animation-timing-function: ease;
  transform: rotate(-6deg);
}

.paw {
  position: absolute;
  width: 40px;
  bottom: -40px;
  left: 0;
  z-index: 2;
  animation-name: move-paws;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: 10;
}

.paw--left {
  transform: rotate(4deg);
  margin-bottom: 10px;
}

.paw--right {
  transform: scaleX(-1);
  right: 10px;
  left: unset;
}

.head {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--head-size);
  z-index: 1;
}

@keyframes move-cat {
  0% {
    bottom: -100px;
  }
  
  10% {
    bottom: -70px;
  }
  
  20% {
    bottom: -70px;
  }
  
  60% {
    bottom: -70px;
  }
  
  75% {
    bottom: -30px;
  }
  
  90% {
    bottom: -30px;
  }
  
  100% {
    bottom: -100px;
  }
}

@keyframes move-paws {
  0% {
    bottom: -40px;
  }
  
  20% {
    bottom: -40px;
  }
  
  40% {
    bottom: -6px;
  }
  
  70% {
    bottom: -6px;
  }
  
  80% {
    bottom: -40px;
  }
  
  90% {
    bottom: -6px;
  }

  100% {
    bottom: -6px;
  }
}