<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
<title>Bitspeech</title>
  <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='style.css') }}"
    />

</head>
<body>
<!-- partial:index.partial.html -->
<div class="big-label">
  <h2>Bits to NFT</h2>
  <form class="the-words">
    <input class="form-control" type="text" name="words" placeholder="Paste your Bitspeech" required="required"/>
    <input class="btn" type="submit" value="+ Create NFT"/>
  </form>
</div>
<p class="help">Congratulations! You can mint your NFT now</p>
<canvas id="myCanvas"></canvas>
<!-- partial -->
<script src="{{url_for('static', filename='script.js')}}"></script>


</body>
</html>