{% extends "layout.html" %} {% block content %}
<h2 class="mb-3">User Profile</h2>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">u/{{ app_user.username }}</h5>
    <p class="card-text">
      Joined {{ app_user.date_created.strftime("%m/%d/%Y") }}.
    </p>
    <h5 class="card-title">Diamonds Recieved : </h5>
  </div>
</div>

<h3>Your NFT collection</h3>
<input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg"><div id="display-image"></div>
<script>const image_input = document.querySelector("#image-input");image_input.addEventListener("change", function() {
  const reader = new FileReader();
  reader.addEventListener("load", () => {
    const uploaded_image = reader.result;
    document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
  });
  reader.readAsDataURL(this.files[0]);
});</script>
{% endblock %}
